@import url(../global/global.css);

.main-hero {
  background-color: var(--secondary-color);
  height: 599px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 144px 161.5px;
}

.hero-info {
  width: 657px;
  height: 276px;
}

.hero-title {
  font-size: 64px;
  font-weight: 600;
  color: var(--primary-text-color);
}

.hero-title-dc {
  color: var(--primary-color);
}

.hero-description {
  font-size: 16px;
  font-weight: 400;
  color: var(--description-color);
  margin-top: 16px;
}

.btn-hero {
  color: var(--color-white);
  background-color: var(--primary-color);
  padding: 14px 32px;
  margin-top: 32px;
  border: none;
  border-radius: 4px;
}

.clients-section {
  margin-top: 40px;
}
.clients-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.clients-title {
  font-size: 36px;
  font-weight: 600;
  color: var(--primary-text-color);
}
.clients-description {
  font-size: 16px;
  font-weight: 400;
  color: var(--description-color);
  line-height: 44px;
}

.clients-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 136px;
  margin-top: 16px;
}

.community-section {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.community-title {
  font-size: 36px;
  font-weight: 600;
  color: var(--primary-text-color);
  width: 542px;
  text-align: center;
}

.community-description {
  font-size: 16px;
  font-weight: 400;
  color: var(--description-color);
  line-height: 24px;
  text-align: center;
  margin-top: 8px;
}

.main-community-content {
  margin-top: 16px;
  width: 100%;
}

.community-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 144px;
}

.community-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 299px;
  height: 260px;
  border-radius: 8px;
  padding: 24px 16px;
  box-shadow: 0px 2px 4px #abbed133;
}

.community-card-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: var(--primary-text-color);
  text-align: center;
  width: 231px;
  margin-top: 16px;
}

.community-card-description {
  font-size: 14px;
  font-weight: 400;
  color: var(--description-color);
  line-height: 20px;
  text-align: center;
  margin-top: 8px;
}

.community-about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 49px;
  margin-top: 42px;
  padding: 0 144px;
  height: 433px;
  width: 100%;
}

.community-about-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 661px;
  height: 268px;
}

.community-about-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: var(--primary-text-color);
  width: 601px;
}

.community-about-description {
  font-size: 14px;
  font-weight: 400;
  color: var(--description-color);
  line-height: 20px;
  margin-top: 16px;
  width: 601px;
}

.community-about-button {
  color: var(--color-white);
  background-color: var(--primary-color);
  padding: 14px 32px;
  margin-top: 32px;
  border: none;
  border-radius: 4px;
}

.main-community-helping {
  background-color: var(--secondary-color);
  height: 288px;
  width: 100%;
}

.community-helping {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 144px;
}

.community-helping-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: var(--primary-text-color);
  width: 408px;
}

.community-helping-title-dc {
  color: var(--primary-color);
}

.community-helping-description {
  font-size: 16px;
  font-weight: 400;
  color: #18191f;
  line-height: 24px;
  margin-top: 8px;
}

.community-helping-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 540px;
  height: 160px;
}

.community-helping-card {
  display: flex;
  align-items: center;
  width: 255px;
  height: 60px;
  gap: 16px;
}

.helping-card-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.helping-card-value {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary-text-color);
  line-height: 36px;
}
.helping-card-customer {
  font-size: 16px;
  font-weight: 400;
  color: var(--description-color);
  line-height: 24px;
}

.main-community-customer-about {
  height: 390px;
  margin-top: 48px;
  width: 100%;
  background-color: var(--secondary-color);
}
.community-customer-about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 78px;
  padding: 32px 144px;
}

.customer-about-description {
  font-size: 16px;
  font-weight: 500;
  color: var(--description-color);
  line-height: 24px;
}

.customer-about-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: var(--primary-color);
  margin-top: 16px;
}

.customer-about-desc2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #89939e;
  margin-top: 8px;
}

.marketing-section-first {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 48px;
  padding: 32px 144px;
  height: 506px;
}
.marketing-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: var(--primary-text-color);
}

.marketing-description {
  font-size: 16px;
  font-weight: 400;
  color: var(--description-color);
  line-height: 24px;
  margin-top: 8px;
  text-align: center;
  width: 628px;
  margin-top: 8px;
}

.marketing-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
}
.marketing-card {
  position: relative;
}

.marketing-info {
  position: absolute;
  top: 190px;
  left: 25.5px;
  background-color: var(--secondary-color);
  padding: 16px;
  border-radius: 8px;
  width: 317px;
  height: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  box-shadow: 0px 8px 16px #abbed166;
}

.marketing-info-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: var(--description-color);
  width: 285px;
  height: 84px;
  text-align: center;
}

.marketing-info-link {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.marketing-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0;
  margin-top: 94.6px;
  background-color: var(--secondary-color);
}
.marketing-about-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  color: #263238;
  text-align: center;
  width: 887px;
  height: 152px;
}

.marketing-about-button {
  background-color: var(--primary-color);
  color: var(--color-white);
  border: none;
  padding: 14px 32px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
