:root {
  /* Colors */
  --primary-color: #4caf4f;
  --primary-text-color: #4d4d4d;
  --description-color: #717171;
  --secondary-color: #f5f7fa;
  --color-white: #ffffff;
  --footer-background-color: #263238;
}
